*.lo
*.o
config.h
Makefile
version.h
version.sed
*.swp
icbinn-head.h
icbinn.h
*.a
*.la
rpc/*.h
missing
Makefile.in
install-sh
libicbinn-config
libicbinn-config.src
libicbinn.pc
libicbinn.pc.src
libtool
ltmain.sh
stamp-h1
compile
config.guess
config.h.in
config.log
config.status
config.sub
depcomp
aclocal.m4
.deps
.libs
autom4te.cache
m4
aclocal-copy
configure
src/icbinn-fs
