*.lo
*.o
config.h
Makefile
version.h
version.sed
*.swp
icbinn-head.h
icbinn.h
*.a
*.la
rpc/*.h
missing
Makefile.in
install-sh
libicbinn-config
libicbinn-config.src
libicbinn.pc
libicbinn.pc.src
libtool
ltmain.sh
stamp-h1
compile
config.guess
config.h.in
config.log
config.status
config.sub
depcomp
aclocal.m4
.deps
.libs
autom4te.cache
rpc/icbinn_prot_clnt.c
rpc/icbinn_prot_svc.c
rpc/icbinn_prot_xdr.c
client/icbinn_ftp
server/icbinn_svc
test/test
INSTALL
*-libtool
configure
